@import "third-party/google-fonts";
@import "third-party/reset";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 400 14px "Cabin", sans-serif;
    font-family: "Cabin", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.error {
    font-size: 16px;
    line-height: 1.2;
    color: #f74440;

    a {
        font-weight: 700;
        color: inherit;
        text-decoration: none;
        border-bottom: transparent solid 2px;
        transition: all .3s ease-in-out;

        &:hover,
        &:focus, {
            border-bottom-color: #f74440;
        }
    }
}

@media only screen and (min-width: $tablet-width) {
    .error {
        font-size: 24px;
    }
}
